
.agency-pro-red .genesis-nav-menu .current-menu-item > a,
.agency-pro-red .genesis-nav-menu .v .current-menu-item > a:hover,
.agency-pro-red .genesis-nav-menu a:hover,
.agency-pro-red .site-title a:hover,
.agency-pro-red a,
.agency-pro-red.agency-pro-home .featured-content a:hover {
    color: #de3233;
}

.agency-pro-red .archive-pagination li a:hover,
.agency-pro-red .archive-pagination li.active a,
.agency-pro-red .breadcrumb a,
.agency-pro-red .genesis-nav-menu a,
.agency-pro-red .home-top a:hover,
.agency-pro-red .site-title a,
.agency-pro-red a:hover.button,
.agency-pro-red a.button {
    color: #fff;
}

.agency-pro-red .genesis-nav-menu .sub-menu .current-menu-item > a,
.agency-pro-red .site-footer a {
    color: #999;
}

.agency-pro-red .archive-pagination a,
.agency-pro-red .entry-title a,
.agency-pro-red .entry-title,
.agency-pro-red .home-top a,
.agency-pro-red .site-footer a:hover,
.agency-pro-red a:hover {
    color: #333;
}

.agency-pro-red .genesis-nav-menu a:hover,
.agency-pro-red .genesis-nav-menu .current-menu-item > a,
.agency-pro-red .genesis-nav-menu .v .current-menu-item > a:hover {
    border-color: #de3233;
}

.agency-pro-red .archive-pagination li a:hover,
.agency-pro-red .archive-pagination li.active a,
.agency-pro-red a:hover.button,
.agency-pro-red button:hover,
.agency-pro-red input:hover[type="button"],
.agency-pro-red input:hover[type="reset"],
.agency-pro-red input:hover[type="submit"],
body.agency-pro-red {
    background-color: #de3233;
}