.featured-content .entry {
    margin-bottom: 20px;
    padding: 0 0 24px;
}

.featured-content .entry-title {
    font-size: 22px;
    line-height: 1.1;
}

a.more-link {
    font-family: 'Spinnaker', sans-serif;
    text-transform: uppercase;
}