.home-top .wrap {
    color: #fff;
    // font-family: 'Spinnaker', sans-serif;
    padding: 15% 0;
    text-align: center;
}

.home-top .widget-title {
    color: #fff;
    font-size: 60px;
    font-family: $font-family-serif;
    line-height: 1;
    text-transform: none;
    margin-bottom: 35px;
}

.home-top .textwidget h2 {
    font-size: 24px;
    font-family: $font-family-serif;
    font-weight: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 110px;
}

.home-top .button {
    color: $black;
    font-size: 17px;
    background-color: $beige;
    padding: 30px 40px;
    display: inline-block;
    
    @include innerBorder();

    &:focus,
    &:hover {
        background-color: $beige;
    }

    @include media($screen-sm) {
        display: block;
        max-width: 380px;
        margin: 10px auto;
        padding: 10px 20px;
    }
}