@mixin innerBorder($color: $black) {    
    position: relative;
    z-index: 2;

    &:after {
        position: absolute;
        width: auto;
        height: auto;
        left: 5px;
        top: 5px;
        right: 5px;
        bottom: 5px;
        border: 2px solid $color;
        content: '';
        display: block;
        z-index: -1;
    }
}

@mixin media($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}