
.site-footer {
    background-color: #f5f5f5;
    color: #999;
    font-family: 'Spinnaker', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;
}

.site-footer a {
    color: #999;
}

.site-footer a:hover {
    color: #333;
}

.site-footer p {
    margin-bottom: 0;
}