.entry-title {
    color: #333;
    font-size: 36px;
    line-height: 1.4;
    font-weight: 300;

    .single & {
        margin-bottom: 100px;
    }
}

.subtitle {
    font-weight: bold;
    font-size: 30px;
    color: $black;
    margin-bottom: 40px;
}

.entry-title a {
    color: #333;
}

.widget-title {
    color: #333;
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.archive-title {
    font-size: 20px;
    margin-bottom: 24px;
}