$screen-xs: 480px;
$screen-sm: 680px;
$screen-md: 782px;
$screen-lg: 800px;
$screen-xl: 1023px;
$screen-xxl: 1180px;

$black: #000;
$white: #fff;
$beige: #FFF1E2;

$font-family-serif: ('eb garamond', georgia, 'times new roman', serif);
$font-family-sans-serif: (roboto, helvetica, arial, sans-serif);