.after-entry {
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 40px;
    padding: 40px;
    text-align: center;
}

.after-entry .widget {
    margin-bottom: 40px;
}

.after-entry .widget:last-child,
.after-entry p:last-child {
    margin: 0;
}

.after-entry li {
    list-style-type: none;
}