.agency-pro-blue .genesis-nav-menu .current-menu-item > a,
.agency-pro-blue .genesis-nav-menu .v .current-menu-item > a:hover,
.agency-pro-blue .genesis-nav-menu a:hover,
.agency-pro-blue .site-title a:hover,
.agency-pro-blue a,
.agency-pro-blue.agency-pro-home .featured-content a:hover {
    color: #0cc4c6;
}

.agency-pro-blue .archive-pagination li a:hover,
.agency-pro-blue .archive-pagination li.active a,
.agency-pro-blue .breadcrumb a,
.agency-pro-blue .genesis-nav-menu a,
.agency-pro-blue .home-top a:hover,
.agency-pro-blue .site-title a,
.agency-pro-blue a:hover.button,
.agency-pro-blue a.button {
    color: #fff;
}

.agency-pro-blue .genesis-nav-menu .sub-menu .current-menu-item > a,
.agency-pro-blue .site-footer a {
    color: #999;
}

.agency-pro-blue .archive-pagination a,
.agency-pro-blue .entry-title a,
.agency-pro-blue .entry-title,
.agency-pro-blue .home-top a,
.agency-pro-blue .site-footer a:hover,
.agency-pro-blue a:hover {
    color: #333;
}

.agency-pro-blue .genesis-nav-menu a:hover,
.agency-pro-blue .genesis-nav-menu .current-menu-item > a,
.agency-pro-blue .genesis-nav-menu .v .current-menu-item > a:hover {
    border-color: #0cc4c6;
}

.agency-pro-blue .archive-pagination li a:hover,
.agency-pro-blue .archive-pagination li.active a,
.agency-pro-blue a:hover.button,
.agency-pro-blue button:hover,
.agency-pro-blue input:hover[type="button"],
.agency-pro-blue input:hover[type="reset"],
.agency-pro-blue input:hover[type="submit"],
body.agency-pro-blue {
    background-color: #0cc4c6;
}