.agency-pro-home .content .widget {
    margin-bottom: 80px;
}

.agency-pro-home .content {

    .featured-content,
    .widget_text {

        .widget-title {
            font-family: $font-family-serif;
            font-size: 36px;
            letter-spacing: .1em;
            text-align: center;
            margin: -40px 0 0;
            padding-bottom: 20px;

            @include media($screen-md) {
                font-size: 18px;
            }
            

            &:before,
            &:after {
                content: " ";
                display: inline-block;
                border-top: 2px solid #fff;
                padding-bottom: 4px;
                width: 15%;
            }

            &:before {
                margin-right: 12px;
            }

            &:after {
                margin-left: 12px;
            }

        }
    }

}


