.agency-pro-green .genesis-nav-menu .current-menu-item > a,
.agency-pro-green .genesis-nav-menu .v .current-menu-item > a:hover,
.agency-pro-green .genesis-nav-menu a:hover,
.agency-pro-green .site-title a:hover,
.agency-pro-green a,
.agency-pro-green.agency-pro-home .featured-content a:hover {
    color: #36c38c;
}

.agency-pro-green .archive-pagination li a:hover,
.agency-pro-green .archive-pagination li.active a,
.agency-pro-green .breadcrumb a,
.agency-pro-green .genesis-nav-menu a,
.agency-pro-green .home-top a:hover,
.agency-pro-green .site-title a,
.agency-pro-green a:hover.button,
.agency-pro-green a.button {
    color: #fff;
}

.agency-pro-green .genesis-nav-menu .sub-menu .current-menu-item > a,
.agency-pro-green .site-footer a {
    color: #999;
}

.agency-pro-green .archive-pagination a,
.agency-pro-green .entry-title a,
.agency-pro-green .entry-title,
.agency-pro-green .home-top a,
.agency-pro-green .site-footer a:hover,
.agency-pro-green a:hover {
    color: #333;
}

.agency-pro-green .genesis-nav-menu a:hover,
.agency-pro-green .genesis-nav-menu .current-menu-item > a,
.agency-pro-green .genesis-nav-menu .v .current-menu-item > a:hover {
    border-color: #36c38c;
}

.agency-pro-green .archive-pagination li a:hover,
.agency-pro-green .archive-pagination li.active a,
.agency-pro-green a:hover.button,
.agency-pro-green button:hover,
.agency-pro-green input:hover[type="button"],
.agency-pro-green input:hover[type="reset"],
.agency-pro-green input:hover[type="submit"],
body.agency-pro-green {
    background-color: #36c38c;
}