.agency-pro-orange .genesis-nav-menu .current-menu-item > a,
.agency-pro-orange .genesis-nav-menu .v .current-menu-item > a:hover,
.agency-pro-orange .genesis-nav-menu a:hover,
.agency-pro-orange .site-title a:hover,
.agency-pro-orange a,
.agency-pro-orange.agency-pro-home .featured-content a:hover  {
    color: #f07802;
}

.agency-pro-orange .archive-pagination li a:hover,
.agency-pro-orange .archive-pagination li.active a,
.agency-pro-orange .breadcrumb a,
.agency-pro-orange .genesis-nav-menu a,
.agency-pro-orange .home-top a:hover,
.agency-pro-orange .site-title a,
.agency-pro-orange a:hover.button,
.agency-pro-orange a.button {
    color: #fff;
}

.agency-pro-orange .genesis-nav-menu .sub-menu .current-menu-item > a,
.agency-pro-orange .site-footer a {
    color: #999;
}

.agency-pro-orange .archive-pagination a,
.agency-pro-orange .entry-title a,
.agency-pro-orange .entry-title,
.agency-pro-orange .home-top a,
.agency-pro-orange .site-footer a:hover,
.agency-pro-orange a:hover {
    color: #333;
}

.agency-pro-orange .genesis-nav-menu a:hover,
.agency-pro-orange .genesis-nav-menu .current-menu-item > a,
.agency-pro-orange .genesis-nav-menu .v .current-menu-item > a:hover {
    border-color: #f07802;
}

.agency-pro-orange .archive-pagination li a:hover,
.agency-pro-orange .archive-pagination li.active a,
.agency-pro-orange a:hover.button,
.agency-pro-orange button:hover,
.agency-pro-orange input:hover[type="button"],
.agency-pro-orange input:hover[type="reset"],
.agency-pro-orange input:hover[type="submit"],
body.agency-pro-orange {
    background-color: #f07802;
}