.featured-content .entry {
    margin-bottom: 20px;
    padding: 0 0 24px;

    @include innerBorder();
}

.featured-content .entry-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.featured-content .entry-meta {
    
}

