.site-header .widget-area {
    float: right;
    text-align: right;
    width: 800px;
}

.site-header .widget-area li {
    margin: 0;
    padding: 0;   
}

.site-header .search-form {
    float: right;
    margin-top: 24px;
}