.home-top .wrap {
    color: #fff;
    padding: 10% 0;
    text-align: center;
}

.home-top .widget-title {
    color: #fff;
    font-size: 60px;
    font-family: $font-family-serif;
    line-height: 1;
    text-transform: none;
    margin-bottom: 35px;
}

.home-top .textwidget h2 {
    font-size: 24px;
    font-family: $font-family-serif;
    font-weight: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 110px;
}

.home-top .button {
    color: $black;
    font-size: 17px;
    background-color: $beige;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    width: 32%;

    & + .button {
        margin-left: 1%;
    }

    @include innerBorder();

    &:focus,
    &:hover {
        text-decoration: underline;
    }

    @include media($screen-sm) {
        display: block;
        margin: 10px auto;
        padding: 10px 20px;
        width: auto;

        & + .button {
            margin-left: 0;
        }
    }
}
