.nav-secondary {
    margin-bottom: 20px;
}

.nav-secondary .genesis-nav-menu a {
    background: none;
    border: none;
    padding: 5px 20px;
}

.nav-secondary .genesis-nav-menu a:hover {
    color: #333;
}