.pager-nav {
    @extend .clearfix;
    margin: 50px 0;

    a {
        border-bottom: 1px solid black;
        display: inline-block;
        max-width: 100%; // max-width so text overflow works, can't be width: 100% because border fills parent div width
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover,
        &:focus {
            border-color: rgba(black, .25);
        }
    }
}

.pager-nav-item {
    width: 40%;
    float: left;
    overflow: hidden;
}

.pager-nav-item-next {
    text-align: right;
    float: right;
}

.pager-nav-item-prev {
    float: left;
    margin-right: 10%;
}
