.site-footer {
    background: $black;
    color: $gray-lighter;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    letter-spacing: .1em;
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;
}

.site-footer p {
    margin-bottom: 0;
}

.site-footer-social-link {
    svg {
        fill: $gray-lighter;
        transition: fill .2s;
    }

    &:focus,
    &:hover {
        svg {
            fill: $white;
        }
    }
}

.site-footer .footer-widgets-4 {
    margin-bottom: 30px;
}