.entry-title {
    font-size: 30px;
    font-weight: 700;

    a {
        &:focus,
        &:hover {
            border-bottom: 1px solid $black;
        }
    }

}

h2.subtitle {
    font-weight: 300;

    .single &,
    .page & {
        margin-bottom: 100px;
    }
}

.subtitle {
    font-size: 30px;
}

.entry-title a {
    color: #333;
}

.widget-title {
    color: $white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.archive-title {
    font-size: 20px;
    margin-bottom: 24px;
}
