.entry-title {
    font-weight: 300;
    font-size: 28px;

    a {
        &:focus,
        &:hover {
            border-bottom: 1px solid $black;
        }
    }

}

.subtitle {
    font-size: 30px;

    .page &,
    .single & {
        & + .entry-title {
            margin-bottom: 90px;
        }
    }
}

.entry-title a {
    color: #333;
}

.widget-title {
    color: $white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.archive-title {
    font-size: 20px;
    margin-bottom: 24px;
}
