.entry-title {
    color: #333;
    font-size: 36px;
    line-height: 1.4;
    font-weight: 300;

    .single & {
        margin-bottom: 100px;
    }

    a {
        &:focus,
        &:hover {
            border-bottom: 1px solid $black;
        }
    }

}

.subtitle {
    font-weight: bold;
    font-size: 30px;
    color: $black;

    .single & {
        margin-bottom: 40px;
    }
}

.entry-title a {
    color: #333;
}

.widget-title {
    color: $white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.archive-title {
    font-size: 20px;
    margin-bottom: 24px;
}